name: Update README with latest blogs

on:
  push:
    branches: [main]
  schedule:
    - cron: "0 */12 * * *"

jobs:
  update-blog-posts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Update README
        run: node scripts/updateBlogs.js

      - name: Commit & push if changed
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add README.md
          git diff --cached --quiet || git commit -m "chore: update blog posts"
          git push
